<nav class="navbar bg-gradient-to-r from-teal-400 to-sky-400 p-0">
  <div class="flex-1">
    <div class="w-36 rounded-full">
      <%= link_to root_path do %>
        <p class="pl-12 text-xl adm-text-quaternary font-bold">
          AdMouvoir
        </p>
      <% end %>
    </div>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-gradient-to-t from-teal-400 to-sky-400 rounded-box w-52">
        <li><a>Accueil</a></li>
        <li><a>Qui suis-je ?</a></li>
        <li><a>Coaching professionnel</a></li>
        <li><a>Conférences-Ateliers</a></li>
        <li><a>Conseil & Formations</a></li>
        <li><a>Galerie expériences</a></li>
        <li><a>Partenaires</a></li>
        <li><a>Ressources et actu</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
  </div>
</nav>