<nav class="navbar bg-gradient-to-r from-bg-primary to-bg-secondary sticky top-0 z-10 p-0">
  <div class="flex-1">
    <div class="w-36 rounded-full">
      <%= link_to root_path do %>
        <p class="pl-4 lg:pl-12 text-xl adm-text-tertiary">
          ad<strong>Mouvoir</strong>
        </p>
      <% end %>
    </div>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current text-white"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow adm-bg-secondary rounded-box w-52">
        <li><%= link_to "Accueil", root_path, class: "btn-accent btn-outline text-white" %></li>
        <li><a href="/a_propos" class="btn-accent btn-outline text-white">Qui sommes-nous ?</a></li>
        <%
=begin%>
 <li><a class="btn-accent btn-outline text-white">Coaching professionnel</a></li> 
<%
=end%>
        <li><a href="/#conferences" class="btn-accent btn-outline text-white">Conférences-Ateliers</a></li>
        <%
=begin%>
 <li><a class="btn-accent btn-outline text-white">Conseil & Formations</a></li>
<%
=end%>
        <li><a href="/#experiences" class="btn-accent btn-outline text-white">Galerie expériences</a></li>
        <%
=begin%>
 <li><a class="btn-accent btn-outline text-white">Partenaires</a></li> 
<%
=end%>
        <li><a href="/#ressources" class="btn-accent btn-outline text-white">Ressources et actus</a></li>
        <li><a href="/actualites" class="btn-accent btn-outline text-white">Actualités</a></li>
        <li><a href="/#contact" class="btn-accent btn-outline text-white">Contact</a></li>
        <% if user_signed_in? %>
          <li><%= button_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>