<div id="about" class="lg:px-32 py-12 lg:pb-24">
  <div class="hero-content flex-col lg:flex-row items-start lg:pl-0">
    <%= image_tag "plane.jpg", class: "max-w-full lg:max-w-sm rounded-lg shadow-2xl", loading: "lazy" %>
    <div class="lg:ml-8">
      <h2 class="text-left !mb-6">Qui sommes-nous ?</h2>
      <p class="text-xl">
        Sylvie accompagne les dirigeants et leurs équipes qui veulent mettre en cohérence leurs actions et postures avec un projet stratégique mobilisateur qui fait sens. Elle intervient sur 3 axes majeurs :
        <br><br>
        <strong class="adm-text-primary">
          • Cultiver les talents managériaux,
          <br>
          • Apaiser les situations de tensions/de crise et
          <br>
          • Accompagner les personnes et les collectifs à se réinventer dans des moments de transitions.
        </strong>
        <br><br>
        Elle anime également des <strong class="adm-text-primary">conférences suivies d’ateliers réflexifs</strong> sur les thèmes du management dans les organisations hybrides, (re)donner du sens au travail dans un monde d’incertitudes, écoute et leadership, devenir leader résilient, manager les paradoxes dans les organisations en transformation…
        <br><br>
        Son approche s’inscrit dans un cadre de référence <strong class="adm-text-primary">systémique</strong> (MBA de management général à HEC Paris), <strong class="adm-text-primary">humaniste</strong> (Master RH à IGS Paris) et <strong class="adm-text-primary">relationnel</strong> (Master of business coaching à International Mozaik).
        <br><br>
        Avant d’entreprendre à son compte, elle a été dirigeante salariée du cabinet conseil RH de la CCI de Paris Ile-de -France et a piloté les Relations humaines et sociales d’organisations publiques (CCI Paris, Centres d’observation et de recherche économique, ESCP, campus LÉA-CFI notamment).
      </p>
      <% if current_page?(root_path) %>
        <%= link_to "En savoir plus", about_path, class: "btn btn-outline btn-block mt-6 text-white"%>
      <% end %>
    </div>
  </div>
</div>