<div class="px-48">
  <div class="hero min-h-min bg-base-200 mt-12 rounded">
    <div class="hero-content flex-col lg:flex-row items-start">
      <img src="https://api.lorem.space/image/face?w=1300&h=2000" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h2 class="font-medium text-3xl mb-6">Qui suis-je ?</h2>
        <p>
          Sylvie accompagne les dirigeants et leurs équipes qui veulent mettre en cohérence leurs actions et postures avec un projet stratégique mobilisateur qui fait sens. Elle intervient sur 3 axes majeurs :
          - cultiver les talents managériaux,
          - apaiser les situations de tensions/de crise et
          - accompagner les personnes et les collectifs à se réinventer dans des moments de transitions.
          <br><br>
          Elle anime également des conférences suivies d’ateliers réflexifs sur les thèmes du management dans les organisations hybrides, (re)donner du sens au travail dans un monde d’incertitudes, écoute et leadership, devenir leader résilient, manager les paradoxes dans les organisations en transformation…
          <br><br>
          Son approche s’inscrit dans un cadre de référence systémique (MBA de management général à HEC Paris), humaniste (Master RH à IGS Paris) et relationnel (Master of business coaching à International Mozaik).
          <br><br>
          Avant d’entreprendre à son compte, elle a été dirigeante salariée du cabinet conseil RH de la CCI de Paris Ile-de -France et a piloté les Relations humaines et sociales d’organisations publiques (CCI Paris, Centres d’observation et de recherche économique, ESCP, campus LÉA-CFI notamment).
        </p>
        <button class="btn btn-info btn-block mt-6 place-content-center">Me contacter</button>
      </div>
    </div>
  </div>
</div>