<div id="calendar" class="lg:px-32 my-12 lg:my-24">
  <h2 class="font-medium text-5xl text-center text-white !mb-0">
    Besoin d'un rendez-vous ?
  </h2>
  <!-- Calendly inline widget begin -->
  <div class="calendly-inline-widget" data-url="https://calendly.com/p-edacquet?background_color=ffffff&text_color=155874&primary_color=2ad0ce" style="min-width:320px;height:700px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
  <!-- Calendly inline widget end -->
</div>