<div class="mx-60">
  <h2 class="font-medium text-3xl text-center mb-12">
    Contributions
  </h2>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      A : Création et cohésion de l’équipe
    </div>
    <div class="collapse-content"> 
      <p>
        Situation de départ : Une équipe de direction nouvellement reconstituée à la suite d’une réorganisation : nouveau chef, nouveaux collègues et des objectifs ambitieux à relever à court terme, le tout dans un contexte de pandémie.
        <br><br>
        Ils risquent de ne pas atteindre leurs objectifs dans les délais.
        <br><br>
        Récoltes à l’issue du coaching : connaissance mutuelle accélérée, axes de travail co-construits, efficacité et performance collective optimisées.
      </p>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      B : Dynamique de réengagement
    </div>
    <div class="collapse-content"> 
      <p>
        Situation de départ : Un Codir constitué de séniors « capés » qui se connaissent très bien et qui démontrent de bons résultats chacun dans leur BU. Ils s’inscrivent dans des logiques de territoires et la synergie entre eux est faible. 
        <br><br>
        Conséquences : en se maintenant dans le confort du connu, ils passent à côté d’opportunités business or leur marché est arrivé à maturité.
        <br><br>
        Récoltes à l’issue du coaching : restauration de « l’esprit de corps » (unité du collectif), le sens commun est partagé, adoption de nouvelles pratiques d’intelligence collective. 
      </p>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      C : Gagner en autonomie
    </div>
    <div class="collapse-content"> 
      <p>
        Situation de départ : une équipe de jeunes managers récemment formés qui ne s’autorisent pas à s’affranchir du consentement hiérarchique. 
        <br><br>
        L’empathie du dirigeant risque de les maintenir dans une situation de dépendance.  
        <br><br>
        Récoltes à l’issue du coaching : meilleure connaissance mutuelle notamment sur les attentes et besoins de chacun, mise en évidence les comportements parasites/toxiques qui les empêchent de « grandir », réappropriation de leurs marges de manœuvre, identification d’un cap commun, plus de responsabilisation collective et résultats en croissance.
      </p>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      D : Nouveau commencement
    </div>
    <div class="collapse-content"> 
      <p>
        Situation de départ : suite à la perte d’un membre influent de l’équipe (décès soudain) permettre à l’équipe de direction de prendre un nouveau départ. 
        <br><br>
        La perte d’efficacité guette.
        <br><br>
        Récoltes à l’issue du coaching : travail collectif sur les peurs, ancrage des leviers et ressources du collectif, ajustement du cap commun et nouvelle distribution des rôles en co-protection et co-responsabilité.
      </p>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      E : Traverser le chaos
    </div>
    <div class="collapse-content"> 
      <p>
        Situation de départ : Une équipe de direction engagée mais désemparée car elle fait face depuis plusieurs mois à une cascade d’épreuves : plusieurs postes d’encadrants de proximité non pourvus, absence maladie subite de la directrice (non remplacée) et une direction adjointe récemment nommée (non immédiatement opérationnelle). 
        <br><br>
        Ils risquent le découragement, le turn-over et la perte de performance.
        <br><br>
        Récoltes à l’issue du coaching : travail sur les ingrédients du succès de l’équipe, élaboration de scenarios probables et alternatifs, préparation d’une stratégie d’alliance gagnant-gagnant avec le siège, performance économique et sociale sécurisée.
      </p>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      F : Apaisement de conflits
    </div>
    <div class="collapse-content"> 
      <p>
        Situation de départ : défiance et dénigrement de la direction par des managers avec pour résultat des indicateurs RPS globaux et une performance opérationnelle en chute libre.
        <br><br>
        Récoltes à l’issue du coaching : identification des points de désaccord, responsabilisation des parties prenantes, co-constuction d’un système de détection et d’autorégulation des conflits.
      </p>
    </div>
  </div>
</div>