<div id="conferences" class="px-4 lg:px-60 mb-12 lg:mb-24">
  <h2>
    Conférences-Ateliers
  </h2>
  <div class="bg-white shadow pb-4 rounded-lg">
    <div class="adm-tab flex flex-col lg:flex-row overflow-hidden">
      <button class="adm-tablinks" onclick="showTabContent(event, 'ecoute')" id="defaultOpen">Écoute</button>
      <button class="adm-tablinks" onclick="showTabContent(event, 'incertitude')">Incertitude</button>
      <button class="adm-tablinks" onclick="showTabContent(event, 'paradoxe')">Paradoxes</button>
    </div>
    <div class="px-4">
      <div id="ecoute" class="adm-tabcontent my-12">
        <h3 class="font-medium text-4xl text-center adm-text-primary mb-8">
          L'écoute
          <br>
          Un puissant levier managérial
        </h3>
        <p class="text-black">
          L’art de se mettre en lien – la gymnastique du dedans-dehors.
          <br><br>
          <strong class="adm-text-primary">Intention :</strong>
          <br>
          Explorer la puissance de l’écoute qui faire vivre l’altérité au sein des organisations, au service de l’éco-système global.
          <br><br>
          <strong class="adm-text-primary">Résumé :</strong>
          <br>
          La relation est le grand défi du management car elle est au croisement de trois enjeux :
          <br><br>
          - le bien-être interne ET la performance économique de l’organisation,
          <br>
          - la motivation intrinsèque des collaborateurs ET la qualité service rendu aux clients,
          <br>
          - la reconnaissance des acteurs internes ET la gratitude de pouvoir déployer dans le monde «la raison d’être» de l’organisation.
          <br><br>
          Ce postulat confronte les dirigeants, les managers à leurs capacités de développer des façons d’être et d’interagir avec les autres.
          <br><br>
          S’il est admis que la qualité des relations humaines est clé, la plus sous-estimée des compétences managériales est l’écoute.
          <br><br>
          Nous allons à travers cette conférence repérer les conditions d’écoute qui génèrent des conversations à la fois savoureuses courageuses et fertiles avec les autres et observer comment l’attention portée en interne se manifeste à l’extérieur, avec les clients, les utilisateurs.
          <br><br>
          Le propos sera étayé d’exemples réels tirés de cas observés en entreprises et de la vie quotidienne.
          <br><br>
          À l’issue de cette conférence les participants auront acquis la connaissance :
          <br>
          - du principe de symétrie entre l’engagement collaborateur et l’engagement clients/utilisateurs
          <br>
          - des 3 processus relationnels indispensables pour rendre vivante la vie d’un collectif humain (théorie de William Schultz),
          <br>
          - les 4 niveaux d’écoute (théorie d’Otto Scharmer)
          <br><br>
          <strong class="adm-text-primary">Nos références bibliographiques :</strong>
          <br><br>
          « Presence: Exploring Profound Change in People, Organizations and Society” de Betty Sue Flowers, C. Otto Scharmer, Joseph Jaworski , Peter M. Senge
          <br>
          « Les employés d'abord, les clients ensuite : Comment renverser les règles du management » de Vineet Nayar,
          <br>
          « L'élément humain » de William Schultz
        </p>
      </div>
      <div id="incertitude" class="adm-tabcontent my-12">
        <h3 class="font-medium text-4xl text-center adm-text-primary mb-8">
          Face à l’incertitude
          <br>
          Devenir un leader résilient
        </h3>
        <p class="text-black">
          <strong class="adm-text-primary">Intention :</strong>
          <br>
          Comment transformer l’inconnu, l’incertain, l’imprévisible en levier d’opportunités source de développement des organisations et d’accomplissement des personnes ?
          <br><br>
          <strong class="adm-text-primary">Résumé :</strong>
          <br>
          Si se positionner en victime et se déresponsabiliser face aux obstacles et aux difficultés qui surgissent est un bouclier défensif, c’est que le connu est préférable à l’incertitude. Il est pourtant possible de se libérer de ces perceptions négatives et de muscler ses ressources personnelles et collectives pour y faire face.
          <br><br>
          Nous vous proposons, à travers une intervention agissante et inspirante de faire un pas de côté à la fois pragmatique et ambitieux sur notre rapport à l’incertitude et ainsi devenir un leader générateur d’agilité et de résilience, pour soi et ses équipes.
          <br><br>
          Thèmes abordés :
          <br>
          - Obstacles réels ou fantasmés ?
          <br>
          - Agilité réactive ou Résilience proactive ?
          <br>
          - Résilience :
          <br>
          o de l’inertie de résistance à l’intégration de données nouvelles
          <br>
          o un état d’esprit optimiste et des actions ajustées
          <br>
          o Quelles évolutions nécessaires de notre rapport au temps, à l’erreur, à la qualité pour développer de la résilience ?
          <br>
          Le propos sera étayé de nombreux exemples réels tirés de situations observées en entreprises et dans la société civile.
          <br><br>
          À l’issue de cette conférence interactive les participants pourront :
          <br>
          - Concevoir la résilience non plus comme un concept abstrait mais comme un levier pragmatique de réussite,
          <br>
          - Avoir des pistes d’application de la résilience dans les organisations,
          <br>
          - Des clés pour renforcer leur posture de leader résilient.
          <br><br>
          <strong class="adm-text-primary">Nos références bibliographiques :</strong>
          <br>
          1. Boris Cyrulnik : « La nuit j'écrirai des soleils »
          <br>
          2. Jean-Luc Pening : « Les SPRI sociétés de demain »
          <br>
          3. Philippe Rosinski « Leadership et coaching global »
          <br>
          4. Ivan Goldschmidt et Jean-Luc Pening « Na wewe ».
        </p>
      </div>
      <div id="paradoxe" class="adm-tabcontent my-12">
        <h3 class="font-medium text-4xl text-center adm-text-primary mb-8">
          Les paradoxes, leviers de (re)construction de réalités
          <br>
          Éclairer la complexité des organisations en changement/en crise.
        </h3>
        <p class="text-black">
          <strong class="adm-text-primary">Intention :</strong>
          <br>
          Explorer et porter un autre regard sur les paradoxes qui se vivent dans les organisations en changement/en crise.
          <strong class="adm-text-primary">Résumé :</strong>
          <br>
          Qu’il concerne une organisation, une équipe ou une personne, le changement ébranle. Qu’est ce qui est à l’origine de l’inconfort, de l’ambivalence, de la perte de sens que l’on ressent dans la phase de transition préalable au changement ?
          <br><br>
          Le changement est désiré et pourtant « ça résiste ». La sidération, la peur ou l’agressivité peuvent surgir sous forme d’immobilisme, de refus voir de cynisme.
          <br><br>
          « Il est urgent d’aller doucement » pour aller regarder ce qui se joue subtilement derrière ces «résistances » et comment ce qui nous apparaît comme des « sabotages » peuvent devenir, contre toute attente, une source de créativité et de vitalité au service du projet de changement.
          <br><br>
          A travers cette conférence, nous proposerons aux participants d’aller explorer autrement les paradoxes :
          <br>
          · ordre et chaos,
          <br>
          · vide et plein,
          <br>
          · vulnérabilité et puissance
          <br>
          qui se présentent inévitablement dans la phase toujours délicate de changement.
          <br><br>
          L’approche proposée permettra à chacun de voir où sont les leviers subtils cachés derrière ces paradoxes et d’intégrer, dans une forme de réconciliation rassurante, leur utilité pour eux-mêmes et le système.
          <br><br>
          Le propos sera étayé de nombreux exemples réels tirés de cas observés en entreprises et d’histoires symboliques.
          <br><br>
          Au terme de la conférence, les participants seront notamment en mesure de :
          <br>
          - comprendre le processus en œuvre dans toute transition,
          <br>
          - d’aller oser regarder les « résistances au changement » comme des richesses,
          <br>
          - et de traverser avec plus de sérénité les changements en eux-mêmes, dans leurs équipes ou dans l’organisation.
          <br><br>
          <strong class="adm-text-primary">Nos références bibliographiques :</strong>
          <br>
          « Le leadership du vivant » de Danièle Darmouni,
          <br>
          « Faites vous-même votre malheur » de Paul Watzlawick
          <br>
          « Trois capacités négatives » d’Adam Phillips
          <br>
          « Du désir au plaisir de changer » de Françoise Kourilsky
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  function showTabContent(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("adm-tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("adm-tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>