<div id="experiences" class="adm-bg-tertiary px-4 lg:px-60">
  <h2 class="text-black">
    Galerie expériences
  </h2>
  <div id="coaching-collectif" class="mb-24">
    <h3 class="adm-text-secondary !mb-12">
      Le coaching collectif
    </h3>
    <div tabindex="0" class="collapse collapse-arrow">
      <input type="checkbox">
      <div class="collapse-title text-2xl font-medium">
        <h4 class="adm-text-tertiary text-2xl">Création et cohésion de l’équipe</h4>
      </div>
      <div class="collapse-content"> 
        <p class="text-xl">
          <strong class="font-black">Situation de départ :</strong> Une équipe de direction nouvellement reconstituée à la suite d’une réorganisation : nouveau chef, nouveaux collègues et des objectifs ambitieux à relever à court terme, le tout dans un contexte de pandémie.
          <br><br>
          Ils risquent de ne pas atteindre leurs objectifs dans les délais.
          <br><br>
          <strong class="font-black">Récoltes à l’issue du coaching :</strong> connaissance mutuelle accélérée, axes de travail co-construits, efficacité et performance collective optimisées.
        </p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-arrow">
      <input type="checkbox">
      <div class="collapse-title text-xl font-medium">
        <h4 class="adm-text-tertiary text-2xl">Dynamique de réengagement</h4>
      </div>
      <div class="collapse-content"> 
        <p class="text-xl">
          <strong class="font-black">Situation de départ :</strong> Un Codir constitué de séniors « capés » qui se connaissent très bien et qui démontrent de bons résultats chacun dans leur BU. Ils s’inscrivent dans des logiques de territoires et la synergie entre eux est faible. 
          <br><br>
          <strong class="font-black">Conséquences :</strong> en se maintenant dans le confort du connu, ils passent à côté d’opportunités business or leur marché est arrivé à maturité.
          <br><br>
          <strong class="font-black">Récoltes à l’issue du coaching :</strong> restauration de « l’esprit de corps » (unité du collectif), le sens commun est partagé, adoption de nouvelles pratiques d’intelligence collective. 
        </p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-arrow">
      <input type="checkbox">
      <div class="collapse-title text-xl font-medium">
        <h4 class="adm-text-tertiary text-2xl">Gagner en autonomie</h4>
      </div>
      <div class="collapse-content"> 
        <p class="text-xl">
          <strong class="font-black">Situation de départ :</strong> une équipe de jeunes managers récemment formés qui ne s’autorisent pas à s’affranchir du consentement hiérarchique. 
          <br><br>
          L’empathie du dirigeant risque de les maintenir dans une situation de dépendance.  
          <br><br>
          <strong class="font-black">Récoltes à l’issue du coaching :</strong> meilleure connaissance mutuelle notamment sur les attentes et besoins de chacun, mise en évidence les comportements parasites/toxiques qui les empêchent de « grandir », réappropriation de leurs marges de manœuvre, identification d’un cap commun, plus de responsabilisation collective et résultats en croissance.
        </p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-arrow">
      <input type="checkbox">
      <div class="collapse-title text-xl font-medium">
        <h4 class="adm-text-tertiary text-2xl">Nouveau commencement</h4>
      </div>
      <div class="collapse-content"> 
        <p class="text-xl">
          <strong class="font-black">Situation de départ :</strong> suite à la perte d’un membre influent de l’équipe (décès soudain) permettre à l’équipe de direction de prendre un nouveau départ. 
          <br><br>
          La perte d’efficacité guette.
          <br><br>
          <strong class="font-black">Récoltes à l’issue du coaching :</strong> travail collectif sur les peurs, ancrage des leviers et ressources du collectif, ajustement du cap commun et nouvelle distribution des rôles en co-protection et co-responsabilité.
        </p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-arrow">
      <input type="checkbox">
      <div class="collapse-title text-xl font-medium">
        <h4 class="adm-text-tertiary text-2xl">Traverser le chaos</h4>
      </div>
      <div class="collapse-content"> 
        <p class="text-xl">
          <strong class="font-black">Situation de départ :</strong> Une équipe de direction engagée mais désemparée car elle fait face depuis plusieurs mois à une cascade d’épreuves : plusieurs postes d’encadrants de proximité non pourvus, absence maladie subite de la directrice (non remplacée) et une direction adjointe récemment nommée (non immédiatement opérationnelle). 
          <br><br>
          Ils risquent le découragement, le turn-over et la perte de performance.
          <br><br>
          <strong class="font-black">Récoltes à l’issue du coaching :</strong> travail sur les ingrédients du succès de l’équipe, élaboration de scenarios probables et alternatifs, préparation d’une stratégie d’alliance gagnant-gagnant avec le siège, performance économique et sociale sécurisée.
        </p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-arrow">
      <input type="checkbox">
      <div class="collapse-title text-xl font-medium">
        <h4 class="adm-text-tertiary text-2xl">Apaisement de conflits</h4>
      </div>
      <div class="collapse-content"> 
        <p class="text-xl">
          <strong class="font-black">Situation de départ :</strong> défiance et dénigrement de la direction par des managers avec pour résultat des indicateurs RPS globaux et une performance opérationnelle en chute libre.
          <br><br>
          <strong class="font-black">Récoltes à l’issue du coaching :</strong> identification des points de désaccord, responsabilisation des parties prenantes, co-constuction d’un système de détection et d’autorégulation des conflits.
        </p>
      </div>
    </div>
  </div>
  <div id="coaching-dirigeant" class="mb-24">
    <h3 class="adm-text-secondary !mb-12">
      Le coaching des dirigeants
    </h3>
    <p class="text-black">
      Ces leaders ont commencé un coaching parce qu’ils étaient :
      <br>
      - « en surcharge » de travail continue : mobilisés d’une part par des priorités opérationnelles instables (enjeu de performance court terme) ET sollicités d’autre part par des projets de transformation (enjeu de performance à long terme),
      <br>
      - immergés dans un système de contraintes de plus en plus fortes, amputant considérablement leurs marges de manœuvre,
      <br>
      - nouvel arrivant dans leur fonction et faisaient face à des « jeux de pouvoir»  avec leur(s) collègues, leur hiérarchie, …, 
      <br>
      - n’occupaient pas pleinement leur fonction (absence ou report de décision, procrastination dans l’action),
      <br>
      ….
      <br><br>
      La non prise en compte de ces problèmes a/aurait entrainé une perte d’efficacité individuelle (et par ricochet collective) et la non atteinte et/ou l’atteinte partielle des résultats.
      <br><br>
      Ce que le coaching a apporté à ces leaders et à leur entreprise (verbatims de fin de mission) : 
      <br>
      - « J’ai plus de recul et de hauteur sur l’entreprise et sur ma situation »,
      <br>
      - « Je me concentre sur l’essentiel et j’ai plus de clarté sur les priorités »
      <br>
      - « Je mets plus de sens dans mes intentions et actions : j’ai retrouvé l’envie d’y aller » 
      <br>
      - « J’ai développé ma capacité à me projeter »,
      <br>
      - « J’ai adapté mes objectifs stratégiques à ma situation »,
      <br>
      - « J’ai pris le temps de réfléchir en profondeur vs être en mode pompier tout le temps » 
      <br>
      - « J’ai pris pleinement ma place au sein du codir et j’ose plus facilement affirmer mon avis »
      <br>
      - « J’ai trouvé des leviers pour remotiver et mobiliser mon équipe »
      <br>
      - « J’adapte ma façon de manager à la situation et aux profils des personnes »

    </p>
  </div>
  <div id="transformation-entreprise">
    <h3 class="adm-text-secondary !mb-12">
      La transformation d’entreprise
    </h3>
    <div class="flex flex-col lg:flex-row justify-between">
      <div class="mb-8 lg:mb-0 lg:w-96">
        <h4 class="font-black text-2xl mb-4">
          Faire évoluer les postures managériales en correspondance avec les enjeux business
        </h4>
        <p class="text-black">
          <strong class="adm-text-primary">Situation de départ :</strong> le Comex a identifié que la stratégie de l’entreprise supposait l’évolution des modes de management. J’allais travailler ce thème avec le top 10 de la communauté des 150 managers.
          <br><br>
          <strong class="adm-text-primary">Récoltes à l’issue du coaching :</strong> Co-création d’une intention managériale commune,  stimulante et vivifiante (ex : devenir des leaders sponsors puissants et inspirants pour leurs équipes), co-constuction d’un modèle managérial en 3 axes et déclinés en comportements reflets des valeurs internes (do et don ’t), réflexion sur les conditions favorables au déploiement auprès des 150 leaders, élaboration d’un plan de déploiement, présentations du plan au Comex, déploiement conduit par le top 10.
        </p>
      </div>
      <div class="lg:w-96">
        <h4 class="font-black text-2xl mb-4">
          Adopter sa posture et son action aux projets business
        </h4>
        <p class="text-black">
          <strong class="adm-text-primary">Situation de départ :</strong> La DRH de cette entreprise a décidé d’assumer son action au croisement de la stratégie de l’entreprise ET de l’épanouissement des collaborateurs qui la mette en œuvre. 
          <br><br>
          Le fait de ne pas pouvoir peser dans les décisions du Comex et du Codir met en péril la robustesse des projets stratégiques.
          <br><br>
          <strong class="adm-text-primary">Récoltes à l’issue du coaching :</strong> Plus d’initiatives intrapreneuriales au sein de l’équipe,  plus d’affirmation, un positionnement en évolution : de centre de coûts à centre de profit ;-)
        </p>
      </div>
    </div>
  </div>
</div>