<div class="mx-60">
  <h2 class="font-medium text-3xl text-center mb-12">
    Foire aux questions
  </h2>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      Voici une bonne taille de contenu pour le margin, en attendant du vrai contenu avec des vrais questions
    </div>
    <div class="collapse-content"> 
      <p>Cela donne un aperçu et un moyen de tester la taille des div.collapse. Cela donne un aperçu et un moyen de tester la taille des div.collapse. Cela donne un aperçu et un moyen de tester la taille des div.collapse. Cela donne un aperçu et un moyen de tester la taille des div.collapse</p>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      Un autre exemple de ce que peut donner une question
    </div>
    <div class="collapse-content"> 
      <p>Avec un exemple de réponse plutôt courte</p>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      Focus me to see content
    </div>
    <div class="collapse-content"> 
      <p>tabindex="0" attribute is necessary to make the div focusable</p>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      Focus me to see content
    </div>
    <div class="collapse-content"> 
      <p>tabindex="0" attribute is necessary to make the div focusable</p>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      Focus me to see content
    </div>
    <div class="collapse-content"> 
      <p>tabindex="0" attribute is necessary to make the div focusable</p>
    </div>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-1">
    <div class="collapse-title text-xl font-medium">
      Focus me to see content
    </div>
    <div class="collapse-content"> 
      <p>tabindex="0" attribute is necessary to make the div focusable</p>
    </div>
  </div>
</div>