<div class="hero min-h-min w-screen" style="background-image: url(<%= asset_path('sky.jpg') %>)">
  <div class="hero-overlay w-fit"></div>
  <div class="hero-content text-center w-fit">
    <div class="py-20 lg:py-32">
      <h1 class="mb-5 text-6xl lg:text-8xl text-black">ad<strong class="font-black text-black">Mouvoir</strong></h1>
      <p class="mb-5 text-3xl lg:text-6xl adm-text-quaternary">Faire des organisations des lieux d’amélioration du monde, sources d’émancipation et d’épanouissement individuel et collectif</p>
    </div>
  </div>
</div>