<div class="hero min-h-min" style="background-image: url(https://api.lorem.space/image/face?w=1000&h=800);">
  <div class="hero-overlay bg-opacity-80"></div>
  <div class="hero-content text-center">
    <div class="py-28">
      <h1 class="mb-5 text-9xl font-bold text-white">AdMouvoir</h1>
      <p class="mb-5 text-7xl text-slate-300">Coach et conseil en management <br> des hommes et des organisations</p>
    </div>
  </div>
</div>