<div class="hero min-h-min w-screen" style="background-image: url(<%= asset_path('sky.jpg') %>)">
  <div class="hero-overlay w-fit"></div>
  <div class="hero-content text-center w-fit">
    <div class="py-32 lg:py-48">
      <h1 class="mb-5 text-6xl lg:text-8xl text-black">Ad<strong class="font-black text-black">Mouvoir</strong></h1>
      <p class="mb-5 text-4xl lg:text-6xl adm-text-quaternary">Coach et conseil en management <br> des hommes et des organisations</p>
    </div>
  </div>
</div>