<div class="flex flex-col justify-center mb-12 adm-bg-primary py-12">
  <p class="text-5xl mx-auto mb-8">
    Raison d’être
  </p>
  <p class="text-3xl lg:px-48 text-center">
    Faire des organisations des lieux d’amélioration du monde, sources d’émancipation et d’épanouissement individuel et collectif.
  </p>
</div>