<div class="flex justify-center pb-12 adm-bg-primary px-4">
  <blockquote class="quote-card yellow-card pt-12">
    <p class="text-3xl">
      " C'est impossible, dit la Fierté
      <br>
      C'est risqué, dit l'Expérience
      <br>
      C'est sans issue, dit la Raison
      <br>
      Essayons, mumure le Coeur. "
    </p>

    <br>
    <cite>
      William Arthur Ward
    </cite>
  </blockquote>
</div>