<div class="flex justify-center mb-12 adm-bg-primary">
  <p class="text-4xl py-12">
    "C'est impossible, dit la Fierté
    <br>
    C'est risqué, dit l'Expérience
    <br>
    C'est sans issue, dit la Raison
    <br>
    Essayons, mumure le Coeur."
    <br><br>
    William Arthur Ward
  </p>
</div>