<div id="references" class="adm-bg-primary">
  <h2>
    Références
  </h2>
  <div class="flex flex-wrap justify-center gap-24 px-4">
    <%= render partial: "reference", collection: @references, as: :reference %>
  </div>
</div>