<div class="w-32">
  <% unless reference.url.blank? %>
    <%= image_tag reference.url, id: "reference-img", alt: "image de la référence '#{ reference.name }'" %>
  <% else %>
    <p class="text-xl px-4 mb-12">
      <%= reference.name %>
    </p>
  <% end %>
</div>