<div id="references" class="mb-12 lg:mb-24">
  <h2 class="font-medium text-5xl text-center text-white mb-12">
    Références
  </h2>
  <div class="flex flex-wrap justify-center px-4">
    <%= render partial: "reference", collection: @references, as: :reference %>
  </div>
</div>