<div id="ressources" class="flex flex-col">
  <h2>
    Ressources et Actualités
  </h2>

  <div class="mb-12">
    <div class="flex flex-wrap gap-4 justify-center px-4">
      <%= render partial: "post_card", collection: @posts, as: :post %>
    </div>
  </div>
  <%= link_to "Voir toutes les ressources et actualités", actualites_path, class: "btn btn-outline btn-lg text-center text-white mx-4 lg:mx-auto" %>
</div>