<div class="flex flex-col mb-24">
  <h2>
    Ressources et Actualités
  </h2>

  <div class="mb-12">
    <div class="flex flex-wrap gap-4 justify-center px-4">
      <%= render partial: "post_card", collection: @posts, as: :post %>
    </div>
  </div>
  <%= link_to "Voir toutes les actualités", actualites_path, class: "btn btn-accent btn-outline btn-lg text-center mx-auto" %>
</div>