<div class="flex flex-col mb-24">
  <h2 class="font-medium text-5xl text-center adm-text-primary mb-12">
    Ressources et Actus
  </h2>

  <div class="mb-12">
    <div class="flex flex-wrap gap-4 justify-center px-4 lg:px-32">
      <%= render partial: "posts_tile", collection: @posts, as: :post %>
    </div>
  </div>
  <%= link_to "Voir toutes les actualités", "actualites", class: "btn btn-accent btn-outline btn-lg text-center mx-auto" %>
</div>