<div id="experiences" class="px-4 lg:px-12 pb-10 lg:pb-24">
  <h1 class="text-6xl text-center py-16">
    Actualités
  </h1>
  <div class="flex flex-row flex-wrap gap-4 justify-center px-4">
    <% @posts.each do |post| %>
      <div class="card card-compact md:card-normal w-96 adm-bg-tertiary shadow-xl card-bordered grow">
        <div class="card-body">
          <h2 class="card-title adm-text-quaternary break-all text-2xl"><%= post.title %></h2>
          <p class="text-black break-words text-xl"><%= post.content.truncate(150) %></p>
          <div class="card-actions justify-end">
            <%= link_to "Lire la suite", post, class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>