<html lang="fr">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>@email a fait une demande de téléchargement des documents de l'actualité suivante :</h1>
    <h2>
      <%= @post %>
    </h2>
    <p>
      Il n'y a plus qu'à lui envoyer les documents.
    </p>
  </body>
</html>