@tailwind base;
@tailwind components;
@tailwind utilities;

@layer directives {
  .from-bg-primary{
    --tw-gradient-from: #2ad0ce;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(241 245 249 / 0));
  }

  .to-bg-secondary{
    --tw-gradient-to: #276c7f;
  }
}

@layer components {
  h1, h2, h3, p {
    @apply text-white;
  }

  h2{
    @apply !text-6xl !font-bold text-center !mb-12
  }

  h3{
    @apply !text-5xl !font-medium text-center !mb-8
  }

  strong{
    @apply font-black
  }

  .adm-tablinks{
    @apply rounded-t-lg border-b-4 flex-1 p-6
  }

  .adm-tablinks.active{
    @apply font-black
  }

  .adm-tab button{
    @apply cursor-pointer transition duration-300
  }

  .adm-tabcontent {
    @apply hidden
  }

  .collapse{
    @apply !border !border-slate-300 !bg-gradient-to-l !from-bg-primary !to-bg-secondary !text-white !my-2
  }

}