/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3, h4, h5, h6, p, b, strong, a, li{
  font-family: 'Quicksand', sans-serif;
}

.adm-bg-primary{
  background-color: #2ad0ce;
}

.adm-bg-secondary{
  background-color: #155874;
}

.adm-bg-tertiary{
  background-color: #edfffd;
}


.adm-text-primary{
  color: #61d2dc;
}

.adm-text-secondary{
  color: #276c7f;
}

.adm-text-tertiary{
  color: #edfffd;
}

.adm-text-quaternary{
  color:#fe5956;
}

.from-bg-primary{
  --tw-gradient-from: #2ad0ce;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(241 245 249 / 0));
}

.from-bg-secondary{
  --tw-gradient-from: #155874;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(241 245 249 / 0));
}

.via-bg-tertiary{
  --tw-gradient-stops: var(--tw-gradient-from), #bfdbfe, var(--tw-gradient-to, rgb(191 219 254 / 0));
}

.to-bg-secondary{
  --tw-gradient-to: #276c7f;
}

.to-bg-quaternary{
  --tw-gradient-to: #9d2b2a;
}


footer p, footer a{
  color: white;
}
