<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      h1, p{
        font-family: 'IBM Plex Sans', serif;
      }
      .container{
        padding: 15px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
